
<div class="panel">
  <div class="panel-header">
    <h4>User</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-3">
        <%= @user.name %>
      </div>
      <div class="col-xs-3">
        <%= @user.email %>
      </div>
      <div class="col-xs-3">
        <%= @user.telephone %>
      </div>      
    <% if current_user != nil %>
    <% if @user.id == current_user.id %>
      <div class="col-xs-3">
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>
</div>

<% @user.items.each do |item| %>
  <% @item = item %>
  <% if current_user == nil %>
    <%= render template: 'layouts/item_list', json: @item %>
  <% elsif current_user.id == @user.id  || current_user.admin?%>
    <%= render template: 'layouts/item_list_actions', json: @item %>
  <% else %>
    <%= render template: 'layouts/item_list', json: @item %>
  <% end %>  
<% end %>
