<% @items.each do |item| %>
    <div class="panel">
      <div class="panel-header">
        <h4><%= link_to item.name, item %></h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag(item.avatar.url(:thumb), size: "100") %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            Content:
          </div>
          <div class="col-xs-4">
            <%= item.content %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            Price:
          </div>
          <div class="col-xs-1">
            <%= item.price %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1">
            <%= link_to 'Show', item %>
          </div>
          <div class="col-xs-1">
            <%= link_to 'Edit', edit_item_path(item) %>
          </div>
          <div class="col-xs-1">
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>