<p id="notice"><%= notice %></p>
<%= link_to 'Sharing.com', root_url %>


<h1>Listing Items</h1>

  <div class="row">
    <div class="col-xs-1">Name</div>
    <div class="col-xs-1">Content</div>
    <div class="col-xs-1">Price</div>
    <div class="col-xs-1">Time</div>
    <div class="col-xs-1">Unit</div>
    <div class="col-xs-1">Author</div>
    <div class="col-xs-1">Location</div>
    <div class="col-xs-1">Telephone</div>
    <div class="col-xs-1">Rent</div>
    <div class="col-xs-3">Actions</div>
  </div>
  <% @items.each do |item| %>
    <div class="row">
      <div class="col-xs-1"><%= item.name %></div>
      <div class="col-xs-1"><%= item.content %></div>
      <div class="col-xs-1"><%= item.price %></div>
      <div class="col-xs-1"><%= item.time %></div>
      <div class="col-xs-1"><%= item.unit %></div>
      <div class="col-xs-1"><%= item.author %></div>
      <div class="col-xs-1"><%= item.location %></div>
      <div class="col-xs-1"><%= item.telephone %></div>
      <div class="col-xs-1"><%= item.rent %></div>
      <div class="col-xs-1">
        <%= link_to 'Show', item %>
      </div>
      <div class="col-xs-1">
        <%= link_to 'Edit', edit_item_path(item) %>
      </div>
      <div class="col-xs-1">
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
<br>

<%= link_to 'New Item', new_item_path %>

