
<div class="panel">
  <div class="panel-header">
    <strong><%= @item.name %></strong>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= @item.content %>
    </div>

    <div class="row">
      <strong>Contract:</strong>
    </div>
    <div class="row">
      <div class="col-xs-1">Price</div>
      <div class="col-xs-1">Time</div>
      <div class="col-xs-1">Rent</div>
    </div>
    <div class="row">
      <div class="col-xs-1"><%= @item.price %></div>
      <div class="col-xs-1"><%= @item.time %> days</div>
      <div class="col-xs-1"><%= @item.rent %> days</div>
    </div>

    <div class="row">
      <strong>Contact:</strong>
    </div>
    <div class="row">
      <div class="col-xs-1">User</div>
      <div class="col-xs-1">Phone</div>
      <div class="col-xs-1">Location</div>
    </div>
    <div class="row">
      <div class="col-xs-1">user link</div>
      <div class="col-xs-1"><%= @item.telephone %></div>
      <div class="col-xs-1"><%= @item.location %></div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
