
<div class="panel">
  <div class="panel-header">
    <strong><%= @item.name %></strong>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2">
            <%= image_tag(@item.avatar.url(:thumb), size: "100") %>
      </div>
    </div>
    <div class="row">
      <%= @item.content %>
    </div>
    <div class="row">
      <div class="col-xs-2">Price:</div>
      <div class="col-xs-1"><%= @item.price %></div>
    </div>
    <div class="row">
      <div class="col-xs-2">Time:</div>
      <div class="col-xs-1"><%= @item.time %> days</div>
    </div>
    <div class="row">
      <div class="col-xs-2">Rent:</div>
      <div class="col-xs-1"><%= @item.rent %></div>
    </div>
    <div class="row">
      <div class="col-xs-2">Location:</div>
      <div class="col-xs-1"><%= @item.location %></div>
    </div>
    <div class="row">
      <div class="col-xs-2">Added by</div>
      <div class="col-xs-1">
      <%= link_to @item.user.name, root_url + "users/" + @item.user.id.to_s %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_item_path(@item) %>
