  <div class="text-center">
  	<%= form_tag('/items/search', method: "get") do %>
  	  <%= text_field_tag(:query) %>
  	  <%= submit_tag("Search") %>
  	<% end %>
  </div>

  <h4>Categories</h4>
	<% @categories.each do |c| %>
    <div class="row">
      <div class="col-xs-2">
        <%= link_to c.name, "/categories/#{c.id}" %>
      </div>
    </div>
	  <div class="row">
      <div class="col-xs-2">
        <%= image_tag c.avatar.url(:thumb) %>
      </div>
	  </div>
	<% end %>

