  <div class="text-center">
  	<%= form_tag('/items/search', method: "get") do %>
  	  <%= text_field_tag :query %>
  	  <%= submit_tag "Search", class: "btn-md btn-primary"%>
  	<% end %>
  </div>



	<div class="row">
    <div class="col-xs-2">
        <label>Categories</label>
    </div>
    <% if current_user && current_user.admin? %>
      <div class="col-xs-1">
          <label>Actions</label>
      </div>
    <% end %>

  </div>
	<% @categories.each do |c| %>
    <div class="row">
      <div class="col-xs-2">
        <%= link_to c.name, "categories/#{c.id}", class: "btn btn-default" %>
      </div>
    </div>
	  <div class="row">
      <div class="col-xs-2">
          <%= image_tag(c.avatar.url(:thumb), size: "100") %>
      </div>
      <% if current_user && current_user.admin? %>
        <div class="col-xs-1">
          <div>
            <%= link_to "Destroy", c, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
          </div>
          <div>
            <%= link_to "Edit", edit_category_path(c), class: "btn btn-link"%>
          </div>
        </div>
      <% end %>
	  </div>
    <br>
	<% end %>

  <% if current_user && current_user.admin? %>
	  <%= link_to 'Add category', new_category_path, class: "btn btn-link" %>
  <% end %>
