<h1>Sharing.com</h1>

<div>Search</div>
<%= form_tag('/items/search', method: "get") do %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<p>Categories</p>
<% @categories.each do |c| %>
  <div><%= link_to c.name, "categories/#{c.id}" %> </div>
  <div><%= link_to "Destroy", c, method: :delete, data: { confirm: 'Are you sure?' } %> </div>

  <%= image_tag c.avatar.url(:thumb) %>

<% end %>

<p>Admin section .. </p>
<%= link_to 'Add category', new_category_path %>
