  <div class="text-center">
  	<%= form_tag('/items/search', method: "get") do %>
  	  <%= text_field_tag(:query) %>
  	  <%= submit_tag("Search") %>
  	<% end %>
  </div>


  <p>Admin section .. </p>

	<div class="row">
    <div class="col-xs-2">
        <h4>Categories</h4>
    </div>
    <div class="col-xs-1">
        <h4>Actions</h4>
    </div>
  </div>
	<% @categories.each do |c| %>
    <div class="row">
      <div class="col-xs-2">
        <%= link_to c.name, "categories/#{c.id}" %>
      </div>
    </div>
	  <div class="row borders">
      <div class="col-xs-2">
          <%= image_tag c.avatar.url(:thumb) %>
      </div>
      <% if current_user && current_user.admin? %>
        <div class="col-xs-1">
          <div>
            <%= link_to "Destroy", c, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <div>
            <%= link_to "Edit", edit_category_path(c)%>
          </div>
        </div>
      <% end %>
	  </div>
	<% end %>
  
  <% if current_user && current_user.admin? %>
	  <%= link_to 'Add category', new_category_path %>
  <% end %>
