  <div class="text-center">
  	<%= form_tag('/items/search', method: "get") do %>
  	  <%= text_field_tag :query %>
  	  <%= submit_tag "Search", class: "btn-md btn-primary"%>
  	<% end %>
  </div>



	<div class="panel">
    <div class="panel-header">
        <h4>Categories</h4>
    </div>
    <div class="panel-body">
    	<% @categories.each do |c| %>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
            <%= link_to c.name, "categories/#{c.id}", class: "btn btn-default" %>
          </div>
          <% if current_user && current_user.admin? %>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-4">
              <%= link_to "Destroy", c, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-4">
              <%= link_to "Edit", edit_category_path(c), class: "btn btn-link"%>
            </div>
          <% end %>
        </div>
    	  <div class="row">
          <div class="col-xs-2">
              <%= image_tag(c.avatar.url(:thumb), size: "100") %>
          </div>
    	  </div>
        <br>
    	<% end %>
    </div>
    <div class="panel-footer">
      <% if current_user && current_user.admin? %>
    	  <%= link_to 'Add category', new_category_path, class: "btn btn-link" %>
      <% end %>
    </div>
  </div>
